<section class="certificates" id="certificates">
    <h2 class="title">
        Certificaciones <a href="#certificates" class="pilcrow">&para;</a>
    </h2>
</section>
<hr />
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Qt/PySide: Interfaces Gráficas con Python</h3>
            <a
                href="/alejo-sarmiento-certificado-pyside.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Hector Costa Guzmán</h3>
            <p>nov. 2024</p>
        </div>
    </div>
</article>
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Ultimate Git + GitHub</h3>
            <a
                href="/alejo-sarmiento-certificado-ultimate-git-github.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Academia Hola Mundo</h3>
            <p>ago. 2024</p>
        </div>
    </div>
</article>
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Ultimate Docker</h3>
            <a
                href="/alejo-sarmiento-certificado-ultimate-docker.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Academia Hola Mundo</h3>
            <p>jun. 2024</p>
        </div>
    </div>
</article>
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Cloud Devops (Docker, Kubernetes y Jenkins)</h3>
            <a
                href="/alejo-sarmiento-certificado-cloud-devops.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Educación IT</h3>
            <p>may. 2022</p>
        </div>
    </div>
</article>
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Ultimate Python</h3>
            <a
                href="/alejo-sarmiento-certificado-ultimate-python.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Academia Hola Mundo</h3>
            <p>abr. 2024</p>
        </div>
    </div>
</article>
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Python Sin Fronteras: HTML, CSS, Flask y MySQL</h3>
            <a
                href="/alejo-sarmiento-certificado-python-sin-fronteras.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Udemy</h3>
            <p>mar. 2024</p>
        </div>
    </div>
</article>
<article class="certificate-item">
    <div class="certificate-header">
        <div class="certificate-title">
            <h3>Bases de datos NoSQL con MongoDB y NodeJS</h3>
            <a
                href="/alejo-sarmiento-certificado-mongodb.pdf"
                class="noprint"
                target="_blank">Ver certificado</a
            >
        </div>
        <div class="info">
            <h3>Academia Mastermind</h3>
            <p>sept. 2022</p>
        </div>
    </div>
</article>
