---
import { certifications } from "../data";
---

<section class="certificates" id="certificates">
    <h2 class="title">
        Certificaciones <a href="#certificates" class="pilcrow">&para;</a>
    </h2>
    <hr />
    {
        certifications.map((certification) => (
            <article class="certificate-item">
                <div class="certificate-header">
                    <div class="certificate-title">
                        <h3>{certification.title}</h3>
                        <a
                            href={certification.certificateUrl}
                            class="noprint"
                            target="_blank"
                        >
                            Ver certificado
                        </a>
                    </div>
                    <div class="info">
                        <h3>{certification.institution}</h3>
                        <p>{certification.date}</p>
                    </div>
                </div>
            </article>
        ))
    }
</section>

<style>
    .certificate-item a {
        text-decoration: underline;
    }

    .certificate-title {
        margin-top: 0;
    }

    .certificate-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .certificate-header .info {
        text-align: right;
    }
</style>
