<section class="contact" id="contact">
    <h2>Contacto <a href="#contact" class="pilcrow">&para;</a></h2>
    <hr />
    <p><b>Correo</b>: alejofsarmiento@gmail.com</p>
    <p><b>Teléfono</b>: +54 9 2224 501572</p>
    <p><b>Dirección</b>: San Vicente, Buenos Aires, Argentina</p>
    <p><b>Edad</b>: 24 años</p>
</section>
<style></style>
