---
import { Icon } from "astro-icon/components";
---

<section class="links" id="links">
    <h2 class="title">
        Enlaces de interés <a href="#links" class="pilcrow">&para;</a>
    </h2>
    <hr />
    <h3>
        <a href="https://github.com/4l3j0Ok" target="_blank"
            ><Icon name="mdi:github" />
            GitHub</a
        ><span class="onlyprint">: github.com/4l3j0Ok</span>
    </h3>
    <h3>
        <a href="https://www.linkedin.com/in/alejoide" target="_blank"
            ><Icon name="mdi:linkedin" /> LinkedIn</a
        ><span class="onlyprint">: linkedin.com/in/alejoide</span>
    </h3>
    <h3>
        <a href="https://alejoide.com" target="_blank"
            ><Icon name="mdi:world" /> Página web</a
        ><span class="onlyprint">: alejoide.com</span>
    </h3>
</section>
