<section class="summary" id="summary">
    <h2 class="title">Resumen <a href="#summary" class="pilcrow">&para;</a></h2>
    <hr />
    <p>
        Soy SRE/DevOps y desarrollador de software con más de cuatro años de
        experiencia.
        <br />Optimizo infraestructuras para mejorar confiabilidad y
        rendimiento, con enfoque proactivo y habilidades sólidas en desarrollo
        web.
        <br />Busco un entorno desafiante donde aplicar mis habilidades y seguir
        aprendiendo.
    </p>
</section>
<style>
    section {
        margin-bottom: 3em;
    }
</style>
